/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
background-attachment: fixed;
height:100%;
font-family: 'Quicksand', sans-serif;
text-align: center;
box-sizing: border-box;
margin: auto;
}

.heading {
  padding: 0;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.message-type {
  postition: absolute;
  padding: 80px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

#buttons-square {
  background-color: #ffffff;
  width: 500px;
  height: 96px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  margin: auto;
}

#buttons-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#lower-square {
  background-color: #ffffff;
  width: 800px;
  height: 147px;
  left: 50%;
  top: 280%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
}

#lower-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

svg {
align-items: center;
position: relative;
top: 40px;
}

.affirmation-button {
  position: fixed;
  left: 37%;
  top: 31%;
  height: 15px;
  width: 15px;
  z-index: 1;
  color: white;
  border-radius: 50%;
}

.affirmation-button:focus {
  background-color: #134d71;
}

.mantra-button {
  position: fixed;
  left: 55%;
  top: 31%;
  height: 15px;
  width: 15px;
  z-index: 1;
  color: white;
  border-radius: 50%;
}

.mantra-button:focus {
  background-color: #134d71;
}

.receive-message {
  position: fixed;
  left: 44%;
  top: 36%;
  height: 29px;
  width: 165px;
  z-index: 1;
  text-align: center;
  background: #134d71;
  font-size: 15px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
}

.mantra-word {
  position: fixed;
  font-weight: normal;
  font-size: 15px;
  color: black;
  z-index: 1;
  left: 57%;
  top: 29%;
  font-style: italic;
}

.affirmation-word {
  position: fixed;
  font-weight: normal;
  font-size: 15px;
  color: black;
  z-index: 1;
  left: 39%;
  top: 29%;
  font-style: italic;
}

#display-affirmation {
  postition: relative;
  font-weight: normal;
  color: black;
  font-size: 19px;
  background-color: transparent;
  border: transparent;
  z-index: 1;
  align-items: center;
  position: relative;
  top: 179px;
}
