/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
background-attachment: fixed;
height:75%;
font-family: 'Quicksand', sans-serif;
text-align: center;
box-sizing: border-box;
margin: auto;
}

.heading {
  padding: 0;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.message-type {
  padding: 65px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

#buttons-square {
  background-color: #ffffff;
  width: 500px;
  height: 96px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  margin: auto;
}

#buttons-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#buddah-square {
  background-color: #ffffff;
  width: 800px;
  height: 147px;
  left: 50%;
  top: 280%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
}

#buddah-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
